on:
  release:
    types: [created]

jobs:
  releases-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
            
    steps:
      - uses: actions/checkout@v4.2.2
    
      - uses: wangyoucao577/go-release-action@v1.52
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: 1.23
          binary_name: task-runner-launcher
          project_path: ./cmd/launcher
          sha256sum: true
          extra_files: README.md LICENSE.md LICENSE_EE.md
